@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

span.cluster {
  font-weight: bold;
  padding: 1em;
}
