.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: absolute;
  top: 0;
  z-index: 500; /* leaflet has index 400 */
}
